<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Module Name</th>
            <th>Description</th>
            <th>Added Date</th>
        </tr>
    </thead>
    {{#modules}}
    <tr>
        <td><a href="/training-modules/{{id}}">{{name}}</a></td>
        <td>{{description}}</td>
        <td>{{addedDate}}</td>
    </tr>
    {{/modules}}
</table>
